@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

.dark {
  --background: #1a1a1a;
  --foreground: #ffffff;
}

@layer base {
  input {
    background-color: transparent;
  }
}
@layer components {
  .weather-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 30px;
  }

  .weather-container .weather-item {
    width: 25%;
    border: 1px solid var(--foreground);
  }
}

@media (max-width: 992px) {
  .weather-container .weather-item {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .weather-container .weather-item {
    width: 100%;
  }
}
